<div class="show-box">
    <div class="functional-box">
        <button (click)="run()" nz-button nzType="primary"></button>
    </div>
    <div class="file">
      <!-- <codemirror [(ngModel)]="code" [config]="cmOptions">
      </codemirror> -->
      <div>
        <button (click)="editFlag = 1" nz-button nzType="primary">JavaScript</button>
        <button (click)="editFlag = 2" nz-button nzType="primary">Html & Css</button>
        <!-- <el-button [plain]="true" type="warning" (click)="editFlag = 2">Html & Css</el-button> -->
      </div>
      <!-- <app-edit-code #codeHtmlCss *ngIf="editFlag === 1"></app-edit-code>
      <app-edit-code #codeJs *ngIf="editFlag === 2"></app-edit-code> -->
      <codemirror [(ngModel)]="jsCode" [config]="cmOptions" *ngIf="editFlag == 1"></codemirror>
      <codemirror [(ngModel)]="htmlCode" [config]="cmOptions" *ngIf="editFlag == 2"></codemirror>
    </div>
    <div class="scroll-01"></div>
    <div class="effect">
      <iframe #frame src="assets/de-main/index.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>
  </div>
  